/* This is a "Contact" tab css stylesheet */
@charset "UTF-8";
.navbar{
	margin-bottom:0;
}
.page-header {
	margin-top:0;
}
header div{
    background-color:#70CFBC;
	text-align:center;
	padding:40px;
}

img{
	height: 450px;
	width: 450px;
}

form{
	font-size: 16px;
	margin-bottom: 365px;
	
}

address{
	font-size: 16px;
}

form{
	margin-top:10px
}


